.BigDivEnergy {
    margin-top: 10px;
    padding-bottom: 20px;
}

h2 {
    font-size: larger;
    text-align: center;
}


.zipButtons {
    display: inline-grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
    place-items: center;
}

.chosenZip {
    margin: 0.5em;
    
    border: 6px solid #5a52fc;
    border-radius: 10px;

    background-color: white;
}

.cityStats {
    width: 25%;
    text-align: center;
    margin: auto;

    background-color: rgba(154, 187, 234, 0.372);   
    background-size: cover;
}

.MinLevels {
    display: block;
    color: #167508;
    padding-bottom: 20px;
    padding-top: 5px;
}

.MaxLevels {
    display: block;
    color: #C23717;
    padding-bottom: 20px;
}

.AvgLevels {
    display: block;
    color: #F5D625;
    padding-bottom: 10px;
}
