.bigDiv {
    margin-top: 10px;
    padding-bottom: 20px;
}

h2 {
    font-size: larger;
    text-align: center;
}


.zipButtons {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
    place-items: center;
}

.chosenZip {
    margin: 0.5em;
    
    border: 6px solid #5a52fc;
    border-radius: 10px;

    background-color: white;
}

